<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Movie</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>
<body>
<h1>Movies and Actors App</h1>
<div>
    <ul>
        <li><a class="link" href="/newMovie">Add Movie</a></li>
        <li><a class="link" href="/listMovies">List Movie</a></li>
        <li><a class="link" href="/updateMovie">Update Movie</a></li>
        <li><a class="link" href="/removeMovie">Remove Movie</a></li>
        <li><a class="link" href="/addActor">Add Actor</a></li>
        <li><a class="link" href="/listActor">List Actor</a></li>
    </ul>
</div>

<br>

<div id="boxAdd">


    <form action="/addMovie" method="post">
        <br>
        <div>
            <label for="title">Movie Title</label>
            <input id="title" name="title" type="text"/>
        </div>

        <div>
            <label for="year">Movie Year</label>
            <input id="year" name="year" type="date"/>
        </div>

        <div>
            <label for="actor">Actors</label>
            <select id="actor">
                <% for( var i=0; i < actors.length; i++){ %>
                <option><%= actors[i].name %></option>
                <% } %>
            </select>
            </input>
        </div>


        <button type="submit">Submit</button>
    </form>


    <div>
</body>
</html>
